<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
<p>@Model.Name1 and @Model.Name2 decided to travel to @Model.Place.</p> <p>They gathered their @Model.PluralNoun1 and @Model.PluralNoun2 and put them in their @Model.Adjective1 @Model.TypeOfVehicle.</p> 
<p>An hour later their @Model.Noun1 exploded.</p>  
<p>They were stuck. Luckily a @Model.Occupation named @Model.FemaleName passed by.</p>  
<p>She helped them fix their vehicle and gave them a @Model.Adjective2 @Model.Noun2 to help them.</p>  
<p>They finally arrived at their destination and had a great time.</p>
  </body>
</html>
